.vibe {
  position: absolute;
  z-index: 30;
  top: 36%;
  right: 0;
  text-align: right;
  width: 14rem;
  height: 30vh;
  color: white;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(156, 156, 156, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
}

.vibe-header {
  margin-top: 5rem;
  font-weight: 800;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.vibe-menu {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.vibe-menu-item {
  display: flex;
  justify-content: flex-end;
  padding: 0.7rem 1rem 0.7rem 0;
}

.vibeItem {
  width: 9rem;
  display: flex;
  justify-content: space-between;
}

.vibe-menu-item:hover {
  background: #484848;
  cursor: pointer;
}
