.head {
  background: #161616;
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100vw;
  height: 5rem;
  color: white;
}

.navbar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  justify-content: space-between;
}

.socialDiv {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 0;
  right: 0;
  margin-top: 5rem;
  margin-right: 5rem;
  height: 5rem;
  width: 15rem;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(156, 156, 156, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
}

.hamburger {
  padding: 1rem 0;
  height: 1.5rem;
  width: 1.5rem;
}
