.mood {
  position: absolute;
  z-index: 20;
  top: 30%;
  width: 20rem;
  height: fit-content;
  padding: 2rem 0;
  color: white;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(156, 156, 156, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
}

.mood-mb {
  position: absolute;
  z-index: 20;
  top: 0;
  width: 15rem;
  height: 100vh;
  padding: 5rem 0;
  color: white;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(156, 156, 156, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
}

.sidebar-header {
  font-weight: 800;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.sidebar-menu {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.sidebar-menu-item {
  padding: 0.7rem 0 0.7rem 1rem;
}

.sidebar-menu-item:hover {
  background: #484848;
  cursor: pointer;
}
